* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #537168;
    color: #fff;
}

p {
    font-size: 16px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

#header {
    width: 100%;
    height: 100vh;
    background-color: #020102;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0;

}

.container {
    padding: 10px 10%;
}

span {
    color: #ff004f;
}

/* =====================navigation=============== */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

.headerpart {
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    margin-top: 0;
    position: fixed;
    width: 100%;
    height: 4rem;
    padding-left: 20px;
    padding-right: 10px;
}

.navbar .logo a {
    font-size: 1.75rem;
    font-weight: bold;
}

.navbar .links {
    margin-right: 5%;
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.menuimg {
    width: 30px;
}

/* dropdown */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown_menu.open {
    height: 340px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerpart .navbar ul li {
    position: relative;
}

.headerpart .navbar ul li::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 0.5s ease;
    transform: scaleX(0);
    transform-origin: bottom left;

}

.headerpart .navbar ul li:hover::after {
    transform: scaleX(1);
}

.namecontainer {
    display: flex;
    flex-direction: row;
    padding-top: 6rem;
}

.headerimg {
    padding-top: 5rem;
    padding-left: 20%;
    padding-right: 5%;
}

.headerimage {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

/* =========================navigation================== */
.header-text {
    align-content: center;
    padding-top: 100px;
    padding-left: 5%;
    margin-top: 0;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text p {
    font-size: 30px;

}

.sociallinks {
    margin-top: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.socialmedialinks {
    width: 30px;
}

.socialmedialinks:hover {
    width: 33px;
}

/* ======animatin===== */

.sec-text span {
    opacity: 0;
    color: red;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.sec-text span:nth-child(1) {
    animation-delay: 0s;
}

.sec-text span:nth-child(2) {
    animation-delay: 3s;
}

.sec-text span:nth-child(3) {
    animation-delay: 6s;
}

.sec-text span:nth-child(4) {
    animation-delay: 9s;
}

.sec-text span:nth-child(5) {
    animation-delay: 12s;
}

/* ============animation==== */

/* =============================ABOUT=============================== */
#about {
    padding: 80px 0;
    color: #ababab;
    background-color: #31363F;
}

#about p {
    line-height: 25px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

.about-col-1 {
    width: 25%;
    display: flex;
    justify-content: center;
}

.about-col-1 img {
    width: 260px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid white;
}

.about-col-2 {
    margin-top: 30px;
    width: 70%;
}

.info {
    line-height: 27px;
}

.mine {
    text-align: center;
    margin-bottom: 7px;
    font-size: 10px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.socialmedias {
    width: 20px;
    height: 30px;
}

/* =============================SKILL=============================== */
#skill {
    background-color: #20232f;
    height: auto;
}

#skill .title {
    margin-bottom: 25px;
}

.skilltitle {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.avatorimage {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.titleimg {
    display: flex;
    justify-content: center;
}

.titleimage {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    align-self: center;
}

.skillgroups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
    gap: 20px;
}

.skillcard {
    width: 290px;
    height: auto;
    background-color: #323744;
    padding: 20px;
    border-radius: 20px;
}

.skillcard:hover {
    width: 295px;
    background-color: black;
}

.skilllists {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

/* =============================Projects=============================== */
#project {
    background-color: #31363F;
}

#project h2 {
    padding-bottom: 20px;
}

.projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
}

.card {
    width: 250px;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
    transition: width 0.3s, height 0.3s;
}

.desc a {
    align-self: flex-end;
    padding-right: 10px;
}

.desc h4 {
    display: none;
}

.card:hover {
    width: 255px;
    height: 41vh;
}

.card:hover h4 {
    display: block;
    color: red;
    font-size: 30px;
}

.card1 {
    background-image: url('./images/blog.PNG');
}

.card2 {
    background-image: url('./images/ecommerce.png');
}

.card3 {
    background-image: url('./images/weather-app.png');
}

.card4 {
    background-image: url('./images/todo.PNG');
}

.desc {
    display: flex;
    flex-direction: column;
}

.desc a {
    text-decoration: none;
    color: #4477CE;
    margin-top: 5px;
}

/* =============================Education=============================== */
.education {
    padding: 15px;
    padding-bottom: 100px;
}

.edu-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.edu-container {
    background-color: #31363F;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 270px;
    height: 25vh;
    margin-bottom: 10px;
    padding: 35px 25px;
    border-radius: 15px 15px 0 15px;
}

.univer {
    padding-top: 0px;
}

.udemyrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.education h2 {
    margin-bottom: 15px;
    padding-left: 20px;
}

.udemyimage {
    width: 250px;
    height: 200px;
}

.udemycourse {
    line-height: 25px;
    align-self: center;
}

.udemycourse button {
    margin-top: 10px;
    background-color: darkolivegreen;
    width: 120px;
    height: 25px;
}

/* ==================================================CONTACT============================ */
#contact {
    background-color: #0b0f1f;
    padding-top: 40px;
    padding-bottom: 30px;
}

#contact h2 {
    text-align: center;
}

.contactrow {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.getme {
    padding-top: 15px;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    padding-bottom: 20px;
}

.social-link {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.social-link a {
    width: 80px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    padding-top: 4px;
    background-color: #002830;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sendme h3 {
    padding-bottom: 0px;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
}

#inputmessage {
    height: 60px;
    padding-bottom: 20px;
}

button {
    width: 60px;
    border-radius: 7px;
    border: 1px solid black;
    align-self: end;
    background-color: #002830;
    color: black;
}

/* ==================================================footer============================ */

.footer {
    height: 40px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
}

.footer hr {
    width: 200px;
    margin-bottom: 15px;
    margin: 0 auto;
    width: 50%;
}

/* ============================MEDIA QUERY========================== */

@media screen and (max-width: 800px) {
    .header-text h1 {
        font-size: 45px;
    }

    .header-text p {
        font-size: 30px;
    }

    .about-container {
        flex-direction: column;
        padding: 0;
    }

    .about-col-1 {
        width: 100%;
    }

    .about-col-1 img {
        margin-bottom: 20px;
    }

    .about-col-2 {
        width: 100%;
    }

    .edu-container {
        width: 440px;
    }

    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width:1082px) {
    .headerimage {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .headerimg {
        padding-top: 5rem;
        padding-left: 10%;
        padding-right: 3%;
        align-content: center;
    }

}

@media (max-width:719px) {
    .headerimage {
        display: none;
    }
}

@media (max-width:576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}